body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  background-color: #000C18;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  padding: 10px 0;
}

.wrapper header .logo {
  width: 50px;
  height: 50px;
  background-color: beige;
  border-radius: 50%;
}

.wrapper header .logo img {
  margin-top: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wrapper header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 60px;
}

.wrapper header .menu .username h3 {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.wrapper header .menu .username h5 {
  font-size: 13px;
  line-height: 15px;
  color: blue;
}

.wrapper header .menu .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
}

.wrapper header .menu .icons i {
  font-size: 25px;
  line-height: 0;
  color: #494646;
}

.wrapper header .menu .icons i:hover {
  color: white;
}

.wrapper main {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 14px;
  padding: 10px 15px;
}

.wrapper main::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
  display: none !important;
  background: transparent;
}

.wrapper main blockquote {
  position: relative;
  max-width: 60%;
  word-break: break-all;
  background-color: #25a1aa;
  border-radius: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-align: left;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.wrapper main blockquote:first-child {
  margin-top: auto;
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper footer i {
  font-size: 25px;
  margin: 25px 15px;
  color: #494646;
}

.wrapper footer i:hover {
  color: white;
}

.wrapper footer textarea {
  width: 350px;
  height: 50px;
  margin: 10px auto;
  padding: 12px 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(41, 30, 30, 0.25);
}

.wrapper footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.wrapper footer button i {
  color: aqua;
}

.wrapper footer button i:hover {
  color: aqua;
}
/*# sourceMappingURL=style.css.map */